img {
  float: right;
  border: solid black 4px;
  margin: 4px;
  padding: 2px;
}

footer, h1, p {
  font-style: oblique;
  font-family: fantasy;
}

body {
  background-color: #3f6096;
}

.italic p{
  font-style: italic;
  font-family: fantasy;
  border: solid black 2 px
}

.top {
  margin-top: 20px;
}
